# dependencies
/node_modules
/e2e/test-app/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# tests
/test
/coverage
/.nyc_output
/e2e/test-app/coverage

# dist
dist
node_modules
/e2e/test-app/dist
