version: 2
jobs:
  test_node_8:
    docker:
      - image: circleci/node:8
    steps:
      # Configure your test steps here (checkout, npm install, cache management, tests etc...)
      - run: npm install
      - run:
          name: Run tests
          command: npm test

  test_node_10:
    docker:
      - image: circleci/node:10
    steps:
      # Configure your test steps here (checkout, npm install, cache management, tests etc...)
      - run: npm install
      - run:
          name: Run tests
          command: npm test

  release:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: npm install
      - run: npm run build
      - run: npx semantic-release

workflows:
  version: 2
  test_and_release:
    # Run the test jobs first, then the release only when all the test jobs are successful
    jobs:
      - test_node_8
      - test_node_10
      - release:
          requires:
            - test_node_8
            - test_node_10
